  /* скрываем чекбоксы и блоки с содержанием */
.drop-down-input {
    display: none; 
    opacity: 0;
}
.drop-down-input + label ~ div{
    display: none;
}
/* оформляем текст label */
.drop-down-input + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block; 
}
/* вид текста label при активном переключателе */
.drop-down-input:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.drop-down-input:checked + label + div {
    display: block; 
    background: #e2e8e4;
    padding: 10px; 
}