@media only screen and (orientation: portrait) 
{
    .search_row > div *
    {
        width: 100%;
    }
    .search_row > .button_div
    {
        display: block;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .interconnection
    {
        width: 100% !important;
    }

    .interconnection_body
    {
       width: 90% !important; 
    }
    
    .interconnection_body b, .interconnection_body input, 
    .interconnection_body select
    {
        display: block;
        width: 100%;
    }
    .interconnection_body .button    {
        display: block;
        margin: auto;
        margin-top: 2%;
        width: 30%;
        text-align: center;
    }
    
}