body
{
    font-family: Arial, sans-serif;
    background-color: #e2e8e4;
}

input , select
{
 padding: 3px;
 border: 2px solid rgba(255, 255, 255, .5);
 background: rgba(255, 255, 255, .5);
 appearance: none;
 outline: none;
 color: #333;
}

input:focus, select:focus
{
    border-bottom: 2px solid rgb(64,199,129);
}

a
{
    color: #006c84;
    text-decoration: none;
}
.center
{
    margin: 1% auto;
    border-collapse:collapse;
    border-spacing:0;
    height: auto; 

    cursor: pointer;
}

a.button 
{
    font-weight: 700;
    color: white !important;
    text-decoration: none;
    padding: .3em 1em calc(.3em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
} 
a.button:hover 
{ 
    background: rgb(53, 167, 110); 
}
a.button:active
{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.width-100
{
    width:100%; 
}

.interconnection
{
    background-color: #b7d2c0;
}

.interconnection_body
{
    width:80%; 
    padding-bottom: 2%;
}

